body {
  height: 100px;
  width: 100px;
  text-align: center;
  padding-bottom: 20px;
  color: gray;
  font-family: Georgia, 'Times New Roman', Times, serif
  /* padding-top: 10px; */
}

button {
    height: 80px;
    width: 80px;
    outline: none;
    margin: 10px;
    border: none;
    border-radius: 2px;
    font-family: Arial;
    cursor: pointer;
    /* background-color: blue; */
    transition-duration: 0.1s;
    background: url(../girl.png) transparent;
    background-size: contain;
    /* background: transparent url("/Users/jubilee/mute-extension/girl.png") 20px 30px no-repeat;
    background-size: cover; */
  }

  button:hover {
      /* background-color: gray; */
      filter: saturate(70%) opacity(90%);
  }
  
  /* button.current {
    box-shadow: 0 0 0 2px white,
                0 0 0 4px black;
  } */

